################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/sample_page.md
/.vs/WEC-Bench/FileContentIndex
